name: Build and deploy JAR app to Azure Web App - api-cast

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  build:
    # Alterado para Ubuntu para maior performance e menor custo
    runs-on: ubuntu-latest 
    permissions:
      contents: read

    steps:
      - uses: actions/checkout@v4

      - name: Set up Java version
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'microsoft'
          cache: 'gradle'

      # Necessário em ambientes Linux/Ubuntu para permitir que o script rode
      - name: Make gradlew executable
        run: chmod +x gradlew

      # Executa os testes unitários e de integração
      - name: Run Tests
        run: ./gradlew test

      # Gera o JAR apenas se os testes passarem
      - name: Build with Gradle
        run: ./gradlew bootJar

      - name: Upload artifact for deployment job
        uses: actions/upload-artifact@v4
        with:
          name: java-app
          path: 'build/libs/*.jar' # Caminho simplificado para Linux

  deploy:
    runs-on: ubuntu-latest
    needs: build
    permissions:
      id-token: write
      contents: read

    steps:
      - name: Download artifact from build job
        uses: actions/download-artifact@v4
        with:
          name: java-app
      
      - name: Login to Azure
        uses: azure/login@v2
        with:
          client-id: ${{ secrets.AZUREAPPSERVICE_CLIENTID_B3A2C9E019E14939ABF940119A914444 }}
          tenant-id: ${{ secrets.AZUREAPPSERVICE_TENANTID_06C0360851534EC18F1FFB0C459F6575 }}
          subscription-id: ${{ secrets.AZUREAPPSERVICE_SUBSCRIPTIONID_35EA560F41A746E79F0DAE0090F1BCE0 }}

      - name: Deploy to Azure Web App
        id: deploy-to-webapp
        uses: azure/webapps-deploy@v3
        with:
          app-name: 'api-cast'
          slot-name: 'Production'
          package: '*.jar'
